<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="false"
    version="3.0">
    
  <!-- Configure ContextLoaderListener to use AnnotationConfigWebApplicationContext
       instead of the default XmlWebApplicationContext -->
  <context-param>
      <param-name>contextClass</param-name>
      <param-value>
          org.springframework.web.context.support.AnnotationConfigWebApplicationContext
      </param-value>
  </context-param>

  <!-- Configuration locations must consist of one or more comma- or space-delimited
       fully-qualified @Configuration classes. Fully-qualified packages may also be
       specified for component-scanning -->
  <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>fr.eservice.portal.AppConfig</param-value>
  </context-param>

  <!-- Bootstrap the root application context as usual using ContextLoaderListener -->
  <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Declare a Spring MVC DispatcherServlet as usual -->
  <servlet>
      <servlet-name>dispatcher</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <!-- Configure DispatcherServlet to use AnnotationConfigWebApplicationContext
           instead of the default XmlWebApplicationContext -->
      <init-param>
          <param-name>contextClass</param-name>
          <param-value>
              org.springframework.web.context.support.AnnotationConfigWebApplicationContext
          </param-value>
      </init-param>
      <!-- Again, config locations must consist of one or more comma- or space-delimited
           and fully-qualified @Configuration classes -->
      <init-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>fr.eservice.web.WebConfig</param-value>
      </init-param>
  </servlet>
  <!-- map all requests for /app/* to the dispatcher servlet -->
  <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet pour l'inscription de l'tilisateur  -->
  <servlet>
        <servlet-name>SignInUser</servlet-name>
        <servlet-class>fr.eservice.portal.servlets.SignInUser</servlet-class>
        <init-param>
			<param-name>uri</param-name> 
			<param-value>/images-users/</param-value> 
		</init-param>
       	<multipart-config>
			<location>/Users/Abderr/Pictures/images-users</location>
			<max-file-size>10485760</max-file-size> <!-- 10 Mo -->
			<max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
  </servlet>
  <servlet-mapping>
        <servlet-name>SignInUser</servlet-name>
        <url-pattern>/SignInUser</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet pour l'authentification  de l'tilisateur  -->
  <servlet>
        <servlet-name>ServletUsers</servlet-name>
        <servlet-class>fr.eservice.portal.servlets.ServletUsers</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>ServletUsers</servlet-name>
        <url-pattern>/ServletUsers</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet pour l'inscription de l'tilisateur  -->
  <servlet>
        <servlet-name>UpdateProfilServelt</servlet-name>
        <servlet-class>fr.eservice.portal.servlets.UpdateProfilServelt</servlet-class>
        <init-param>
			<param-name>uri</param-name> 
			<param-value>/images-users/</param-value> 
		</init-param>
       	<multipart-config>
			<location>/Users/Abderr/Pictures/images-users</location>
			<max-file-size>10485760</max-file-size> <!-- 10 Mo -->
			<max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
  </servlet>
  <servlet-mapping>
        <servlet-name>UpdateProfilServelt</servlet-name>
        <url-pattern>/UpdateProfilServelt</url-pattern>
  </servlet-mapping>
  
  
    
</web-app>